.serviceCard {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    background-color: rgba(151, 172, 155, 0.6);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.bannerCard {
    background-image: url('../images/about/banner.jpg');
    background-position: center;
    background-size: cover;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 300px;
    padding-right: 300px;
}